@import "../partials/mixins";

/* Header */
$smallResHead:#427B20;
$largeResHead-light:#143600;
$largeResHead-dark:#265809;
$smallResIcon:#FFF;


/* Navigation */
$smallResNav-light:#555;
$smallResNav-dark:#292929;
$largeResNav-light:#D5D97B;
$largeResNav-dark:#7C814B;
$navBorderBottom: #1D241F;
$navTextLink: #FFF;
$contentLayer:#000;

/* Body */
$background-color: #F8F8F8;
$h1-text:#FFF;
$paragraph-text: #383A42;

/* Rotator */
$rotatorActiveIndicator:#000;

/* Footer */
$footerBackground-light:#F8F8F8;
$footerBackground-dark:#E9E9E9;
$footerBorder-light:#CECECE;
$footerNavLink-border:#CECECE;
$footerTextLinks:#143600;
$backToTop:#2F5E14;
$backToTop-text:#FFF;