    <div>
        <ul>

            <li><a href="#/about">About</a></li>
            <li><a href="#/contact">Contact</a></li>
            <li><a href="#/directions">Directions</a></li>
        </ul>
    </div>
    <ul class="course-info">
        <li>Salisbury Municipal Golf Course</li>
        <li>35593 Potts Park Rd.</li>
        <li>Salisbury, MO 65281</li>
        <li>(660) 388-5721</li>

    </ul>

    <a href="#container" class="footer-to-top" data-ie7-font-name="iFont-chevron-up-large">back to top</a>

    <small>&copy; 2015 Copyright Salisbury Municipal Golf Course</small>
