
<div class="mobile-menu">
    <div></div>
    <div></div>
    <div></div>
</div>
<h1 class="header-logo">
    <a href="/">
        <img src="/images/logo.png" />
        <span>Salisbury Municipal Golf Course</span>
    </a>
</h1>


<nav role="navigation">
    <ul>
        <li><a href="#/">Home</a></li>
        <li><a href="#/calendar">Calendar</a></li>
        <li><a href="#/course">Course</a></li>
        <li><a href="#/rates">Rates</a></li>
        <li><a href="#/about">About</a></li>
    </ul>

    <!--<div class="weather-widget">
        <a href="http://www.accuweather.com/en/us/salisbury-mo/65281/weather-forecast/339095" class="aw-widget-legal">

        </a><div id="awcc1424892556652" class="aw-widget-current" data-locationkey="339095" data-unit="f" data-language="en-us" data-useip="false" data-uid="awcc1424892556652"></div>
    </div>-->
</nav>
<div id="contentLayer"></div>
